PORT=8000
MANGODB_URI=mongodb+srv://ankur:ankur123@backend-prod.fgxyuek.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=backend-aur-enginnering
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend-aur-learning
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=dw9ouucsh
CLOUDINARY_API_KEY=754639579387163
CLOUDINARY_API_SECRET=9hWCGP1f8Ur1T0us9QaDKxTYiJ4