PORT=8000
MANGODB_URI=mongodb+srv://ankur:ankur123@backend-prod.fgxyuek.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=backend-aur-enginnering
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend-aur-learning
REFRESH_TOKEN_EXPIRY=10d